body{
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* Styling the header and the hero action */

.header, .hero-section{
    background-color: #1F2937;
}
p, h1,img{
    display: inline-block;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
}

ul li a{
    color: #e5e7ebd6;
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 16px
}

.hero-section{
    display: flex;
    padding: 48px 90px 72px 90px;
    color: #F9FAF8;
}

.hero-section h1{
    margin: 0;
    font-weight: bold;
    font-size:3em;
}
.hero-section-left{
    padding-right: 24px;
}

.hero-section-subtext{
    color: #f9faf8c5;
}
.hero-section button{
    background-color:#3882F6 ;
    box-shadow: none;
    padding: 8px 24px;
    color: #E5E7EB;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* Styling the images section */

.second-section-text{
font-size: 36px;
color: #1F2937;
font-weight: 900;
margin: 1rem;
}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images{
    display: flex;
    gap: 32px;

}
figure{
    width: 150px;
    margin: 0;
}
figcaption{
    text-align: center;
    padding-top: 5px;
}
img{
    border-radius: 8px;
    border: 2px solid #1F2937 ;
}




/* .header{
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
div .hero-section{
    background-color: #1F2937;
}
.hero-section-subtext, ul li a{
font-size: 18px;
color: #E5E7EB;
}

.message{
    background-color: #3882F6;
    font-size: 36px;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}    */